absl-py==1.4.0
aiodns==3.0.0
aiohttp==3.8.6
aiohttp-cors==0.7.0
aiosignal==1.3.1
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
blessed==1.20.0
blinker==1.6.2
Brotli==1.1.0
brotlicffi==1.1.0.0
cachetools==5.3.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
colorful==0.5.5
cryptography==41.0.3
Cython==0.29.36
decorator==5.1.1
defusedxml==0.7.1
devtools==0.12.2
distlib==0.3.7
executing==1.2.0
faust-cchardet==2.1.19
filelock==3.12.4
frozenlist==1.4.0
fsspec==2024.6.1
future==0.18.3
google-api-core==2.11.1
google-auth==2.21.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.60.0
gpustat==1.1.1
grpcio==1.59.1
gviz-api==1.10.0
hyperopt==0.2.7
idna==3.4
Jinja2==3.1.3
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
Markdown==3.4.4
MarkupSafe==2.1.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
networkx==3.1
numpy==1.26.1
nvidia-ml-py==12.535.133
oauthlib==3.2.2
olefile==0.46
opencensus==0.11.3
opencensus-context==0.1.3
packaging==23.1
pandas==2.2.2
pillow==10.2.0
platformdirs==3.10.0
prometheus-client==0.17.1
proto-plus==1.22.3
protobuf==4.24.4
psutil==5.9.6
py4j==0.10.9.7
pyarrow==17.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycares==4.3.0
pycparser==2.21
pydantic==1.10.12
Pygments==2.16.1
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
pyupgrade==3.3.1
PyYAML==6.0.1
ray==2.7.0
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.10.3
rsa==4.9
scipy==1.11.3
setproctitle==1.3.2
six==1.16.0
smart-open==6.4.0
sympy==1.12
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboard-plugin-profile==2.11.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.6.2.2
tokenize-rt==4.2.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2a0
tqdm==4.66.1
triton==2.0.0
typing_extensions==4.7.1
tzdata==2024.1
urllib3==2.0.7
virtualenv==20.24.5
wcwidth==0.2.6
Werkzeug==2.3.8
yarl==1.9.2
